<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="skin" th:object="${board}">
    <div th:replace="~{front/board/default/_title::title}"></div>
    <form id="frmSearch" name="frmSearch" method="GET" th:action="@{/board/list/{bid}(bid=*{bid})}"
          autocomplete="off" th:object="${boardSearch}">
        <input type="hidden" name="sort" th:field="*{sort}">
        <input type="hidden" name="category" th:field="*{category}">

    </form>


    <th:block th:replace="~{front/board/default/_items::items}"></th:block>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</th:block>
</html>